.btn-btn-outline-primary {
margin-right: 25px;
}
body{
	background-color: white;
}
.pricing-header{
	background-color: white;
}
.carousel-item-active{
	margin-bottom: 45px;
}

.card-deck{
	margin-top: 45px;
}

/*---------------------------------register------------------*/
.col-md-6 col-md-offset-3{
	margin-left: 297px;
}
.addtocart{
  float: right;
}


.buycart{
  float: right;color:blue; margin-left: 5px; margin-right: 5px;
}

.cancelcart{
  float: right;color:black; margin-left: 5px; margin-right: 5px;
}
/*------------------------------------------------------------login--------------------------------------*/
